*{
    margin : 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
}
.container{
    max-width: 1300px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}
.row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
    
}
.container_2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .container_2 .box_2{
    position: relative;
    width: 350px;
    padding: 40px;
    background: #fff;
    box-shadow: 0 5px 15px rgba(0,0,0,.1);
    border-radius: 4px;
    margin: 20px;
    box-sizing: border-box;
    overflow: hidden;
    text-align: center;
  }
  .container_2 .box_2:before{
  content: '';
  width: 50%;
  height: 100%;
  position: absolute;
  top:0;
  left: 0;
  background: rgba(255,255,255,.2);
  z-index: 2;
  pointer-events: none;
  }
  .container_2 .box_2 .icon_2{
  position: relative;
  width: 80px;
  height: 80px;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  border-radius: 50%;
  font-size: 40px;
  font-weight: 700;
  transition: 1s;
  }
  .container_2 .box_2:nth-child(1) .icon_2{
    box-shadow: 0 0 0 0 #e91e63;
    background: #e91e63;
  }
  .container_2 .box_2:nth-child(1):hover .icon_2{
    box-shadow: 0 0 0 400px #e91e63;
  }
  .container_2 .box_2:nth-child(2) .icon_2{
    box-shadow: 0 0 0 0 #23e629;
    background: #23e629;
  }
  .container_2 .box_2:nth-child(2):hover .icon_2{
    box-shadow: 0 0 0 400px #23e629;
  }
  .container_2 .box_2:nth-child(3) .icon_2{
    box-shadow: 0 0 0 0 #2196f3;
    background: #2196f3;
  }
  .container_2 .box_2:nth-child(3):hover .icon_2{
    box-shadow: 0 0 0 400px #2196f3;
  }
  .container_2 .box_2 .content_2{
    position: relative;
    z-index: 1;
    transition: 0.5s;
  
  }
  .container_2 .box_2:hover .content_2{
  color: #fff;
  }
  .container_2 .box_2 .content_2 h3{
    font-size: 20px;
    margin: 10px 0;
    padding: 0;
  }
  .container_2 .box_2 .content_2 p{
    margin: 0;
    padding: 0;
   
  }
  .at{
    display: inline-block;
    padding: 10px 20px;
    background: #fff;
    border-radius: 4px;
    text-decoration: none;
    color: #000;
    font-weight: 700;
    margin-top: 20px;
    box-shadow: 0 2px 5px rgba(0,0,0,.2);
  }
  
  /*--------------  Footer ---------------------------*/
  .footer{
      background:  #000;
      color: #8a8a8a;
      font-size: 14px;
      padding: 60px 0 20px;
  }
  .footer p{
      color: #8a8a8a;
  }
  .footer h2{
      color: #fff;
      margin-bottom: 20px;
  }
  /*----.footer-col-1,----*/ 
  .footer-col-2, .footer-col-3,  .footer-col-4{
      min-width: 250px;
      margin-bottom: 20px;
      
  }
  .footer-col-2{
      flex: 1;
      text-align: centre;
  }
  .footer-col-2 img{
      width: 150px;
      margin-top: 50px;
      margin-bottom: 0px; 
  }
  .footer-col-3{
      flex-basis: 50%; 
      text-align: center;   
  }
  ul{
      list-style-type: none;
  }
  er hr{
      border: none;
      background: #b5b5b5;
      height: 1px;
      margin: 20px 0;
  }
  .menu-icon{
      width: 28px;
      margin-left:20px; 
      display: none;
  }

     
.social-menu h1{
    margin-bottom: 45px;
    text-align: center;
    
}
.social-menu ul {  
    position: relative;
    left: 50%;     
    transform: translate(-50%, -50%);
    padding: 10;
    margin: 0;
    display: flex;
}
.social-menu ul li {
    list-style: none;
    margin: 0 10px;
}
.social-menu ul li .fab{
    color: #555;
    font-size: 25px;
    line-height: 40px;
    transition: 0.4s ;
}
.social-menu ul li .fab:hover{
    color: #ffffff;
}
.social-menu ul li a{
    position: relative;
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: white;
    text-align: center;
    transition:all 0.3s linear;
    transform: translate(0,0px);
    box-shadow: 0px 7px 5px rgba(0, 0, 0, 0.5); 
}
.social-menu ul li a:hover {
    transform: rotate(0deg) skew(0deg) translate(0, -10px);
}
.social-menu ul li:nth-child(1) a:hover {
    background-color: #3b5998;
}
.social-menu ul li:nth-child(2) a:hover {
    background-color: #4fce5d;
}
.social-menu ul li:nth-child(3) a:hover {
    background-color: #00acee;
}
.social-menu ul li:nth-child(4) a:hover {
    background-color: #f14843;
}
.social-menu ul li:nth-child(5) a:hover {
    background-color: #f00;
}  


